<% include partials/header %>

<div >
    <%= showBlog.title %>
</div>
<img src="<%= showBlog.image %>">
<span><%= showBlog.created.toDateString() %></span>
<p><%= showBlog.body %></p>
<a class="ui orange basic button" href="/blogs/<%= showBlog._id %>/edit">Edit</a>
<form id="delete" action="/blogs/<%=showBlog._id%>?_method=DELETE" method="POST">
            <button class="ui red basic button">Delete</button>
</form>

<% include partials/footer %>
